body {
   margin: 0;
   font-family: "Roboto", sans-serif;
}

header {
   padding: 50px;
}

header, footer {
   background-color: #3E4A53;
   text-align: center;
   color: #ffffff;
}

nav {
   background-color:#10465E;
   text-align: center;
}

nav ul {
   margin: 0;
   padding: 20px;
}

nav ul li {
   display: inline;
   padding: 30px;
}

nav ul li a {
   text-decoration: nome;
   font-weight: bold;
   text-transform: uppercase;
   color: #ffffff;
}



section {
   margin: 50px;
   padding: 50px;
   color: #ffffff;
   border-radius: 25px;
   background-color: #10465E;
}

footer {
   padding: 10px;
}


.button {
   border: 0;
   color: #515F69;
   padding: 25px;
}


.button:hover {
   cursor: pointer;
   color: #ffffff;
   background-color: #8697A6;
   
}

.invalid {
   border: 2px solid red;
}

   

@media only screen and (max-width: 600px) {
   nav ul li {
      padding: 15px;
   }      
   
}

img{
   width: 164px;
   border-radius: 90px;
}

.fotoDePerfil{
   width: 164px;
}